body {
  color: #8f8f8f;
  background: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url(../img/symphony.png);
  font-family: Cardo, serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0
}
* {
  box-sizing: border-box
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px)
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px)
  }
}
@-webkit-keyframes slide {
  0% {
    background-position: 0 50%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg)
  }
  33% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg)
  }
  100% {
    background-position: 176px 50%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg)
  }
}
@keyframes slide {
  0% {
    background-position: 0 50%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg)
  }
  33% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg)
  }
  100% {
    background-position: 176px 50%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg)
  }
}
