.main_h,
nav ul {
  overflow : hidden;
}

.logo,
body {
  color : #8f8f8f;
}

a,
a:hover {
  text-decoration : none;
}

.logo,
h1,
nav ul a {
  text-transform : uppercase;
}

body {
  padding-bottom : 2em;
}

.open {
  background-color : rgba(255, 255, 255, 0);
}

h1 {
  font-weight : 700;
}

h2,
h3 {
  font-weight : 400;
}

h2 {
  font-family : "Kaushan Script";
}

h3 {
  color       : rgba(0, 0, 0, .5);
  text-align  : justify;
  font-family : "Gill Sans";
}

h4 {
  font-family : "Gill Sans",
                sans-serif;
}

a:link {
  color : #000;
}

a:hover {
  color : #777;
}

.main_h {
  z-index            : 999;
  position           : fixed;
  top                : -100px;
  width              : 100%;
  max-height         : 70px;
  padding-top        : 17px;
  padding-bottom     : 6px;
  opacity            : 0;
  background         : 0 0;
  font-family        : Montserrat,
                       sans-serif;
  -webkit-transition : all .3s;
  transition         : all .3s;
}

.open-nav {
  max-height : 400px!important;
}

.open-nav .mobile-toggle {
  -webkit-transform : rotate(-90deg);
  transform         : rotate(-90deg);
}

.sticky {
  top           : 0;
  opacity       : 1;
  border-bottom : 1px solid #dcdcdc;
  background    : linear-gradient(
                    rgba(255, 255, 255, .2),
                    rgba(255, 255, 255, .2)
                  ),
                  url(
                    ../img/symphony.png
                  );
}

.logo {
  display      : block;
  width        : 50px;
  float        : left;
  padding-left : 9.5%;
  font-size    : 25px;
  line-height  : 1;
}

@media only screen
       and (max-width : 991px) {
  .logo {
    float        : none;
    padding-top  : 0;
    padding-left : .6em;
  }

  .main_h {
    padding-top : 25px;
  }
}

nav,
nav ul {
  float : right;
}

.row,
body {
  padding : 0;
}

nav {
  width         : 60%;
  padding-right : 9.5%;
}

nav ul {
  text-align : right;
  list-style : none;
}

nav ul li {
  display     : inline-block;
  margin-left : 35px;
  line-height : 1.5;
}

@media only screen
       and (max-width : 991px) {
  nav {
    width : 100%;
  }

  nav ul {
    width         : 100%;
    float         : left;
    margin-bottom : 20px;
    padding-top   : 25px;
    text-align    : center;
  }

  nav ul li {
    width   : 100%;
    margin  : 0;
    padding : 7px 0;
  }
}

nav ul a {
  color     : #888;
  font-size : 18px;
}

nav ul a:hover {
  border-top    : #888 1px solid;
  border-bottom : #888 1px solid;
}

.mobile-toggle {
  display            : none;
  position           : absolute;
  top                : 0;
  right              : 22px;
  width              : 30px;
  font-size          : 20px;
  -moz-transition    : all .2s ease-in;
  -webkit-transition : all .2s ease-in;
  transition         : all .2s ease-in;
  cursor             : pointer;
}

@media only screen
       and (max-width : 991px) {
  .mobile-toggle {
    display : block;
  }
}

.mobile-toggle span {
  display       : block;
  width         : 30px;
  height        : 4px;
  margin-bottom : 6px;
  border-radius : 1000px;
  background    : #8f8f8f;
}

.row {
  position : relative;
  width    : 100%;
  margin   : 0 auto;
}

* {
  box-sizing : border-box;
}

body {
  margin                 : 0;
  background             : linear-gradient(
                             rgba(255, 255, 255, .2),
                             rgba(255, 255, 255, .2)
                           ),
                           url(
                             ../img/symphony.png
                           );
  font-family            : Cardo,
                           serif;
  font-weight            : 300;
  -webkit-font-smoothing : antialiased;
}

h1 {
  font-family : Montserrat,
                sans-serif;
  font-size   : 35px;
  line-height : 1.8;
}

.content {
  padding : 50px 2%;
}

@media only screen
       and (max-width : 600px) {
  h1 {
    font-size : 25px;
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity           : 1;
    -webkit-transform : translateY(0);
    transform         : translateY(0);
  }

  100% {
    opacity           : 0;
    -webkit-transform : translateY(20px);
    transform         : translateY(20px);
  }
}

@keyframes scroll {
  0% {
    opacity           : 1;
    -ms-transform     : translateY(0);
    -webkit-transform : translateY(0);
    transform         : translateY(0);
  }

  100% {
    opacity           : 0;
    -ms-transform     : translateY(20px);
    -webkit-transform : translateY(20px);
    transform         : translateY(20px);
  }
}

@-webkit-keyframes slide {
  0% {
    background-position : 0 50%;
    -webkit-transform   : rotate(-4deg);
    transform           : rotate(-4deg);
  }

  33% {
    -webkit-transform : rotate(4deg);
    transform         : rotate(4deg);
  }

  100% {
    background-position : 176px 50%;
    -webkit-transform   : rotate(-4deg);
    transform           : rotate(-4deg);
  }
}

@keyframes slide {
  0% {
    background-position : 0 50%;
    -webkit-transform   : rotate(-4deg);
    transform           : rotate(-4deg);
  }

  33% {
    -webkit-transform : rotate(4deg);
    transform         : rotate(4deg);
  }

  100% {
    background-position : 176px 50%;
    -webkit-transform   : rotate(-4deg);
    transform           : rotate(-4deg);
  }
}
