/*------------------------------- GENERAL ------------------------------------*/
body {
  padding-top: 2em;
  padding-bottom: 2em;
  background:
    linear-gradient(
      rgba(255, 255, 255, .2),
      rgba(255, 255, 255, .2)
    ),
    url('../img/symphony.png');
    /*url('../img/subtle_white_feathers.png');*/
}
.open {
  background-color: rgba(255, 255, 255, 0);
}
.spacer {
  padding: .75em;
}
.bottomblog {
	border-radius: 50%;
	height: 20em;
	width: 30em;
  margin-top: 5em;
  margin-bottom: 2em;
}
.blog-img {
  width: 100%;
  height: 25em;
  display: block;
  margin-left: collapse;
  margin-right: collapse;
  object-fit: cover;
}

.portrait {
  width: 60%;
  height: 30em;
  vertical-align: center;
}

.blog div {
	display: inline-block;
	width: 100%;
}

.blog img {
	display: block;
	height: 25em;
  -webkit-transition: all 1000ms;
	-moz-transition: all 1000ms;
	transition: all 1000ms;
	max-width: 100%;
}

.blog figure {
	height: 25em;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.blog figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
  width: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
  -webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
  text-align: center;
}

.blog figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 100%;
  -webkit-transition: all 800ms ease-out;
	-moz-transition: all 800ms ease-out;
	transition: all 800ms ease-out;
	vertical-align: middle;
  text-align: center;
}

.blog div:hover figcaption {
	opacity: 1;
}

.blog div:hover img {
  -webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}

.blog div:hover figcaption p {
  -moz-transform: translateY(50px);
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}



.row {
  margin-left: 0em;
  margin-right: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  margin-top: 0em;
}
.partialContainer {
  padding-top: 7%;
  padding-bottom: 7%;
}


/*-------------------------------- TEXT SIZES ---------------------------------*/
h1 {
  font-family: serif;
  font-weight: bold;
}
h2 {
  font-family: "Kaushan Script";
  font-weight: 400;
}
h3 {
  font-family: "Gill Sans";
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  text-align: justify;
}
h4 {
  font-family: "Gill Sans", sans-serif;
}
.summary {
  font-family: "Gill Sans";
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  padding-bottom: 3em;
}
.intro {
  font-family: "Gill Sans";
  font-size: 2em;
  margin-top: 1em;
  text-align: justify;
}
.blog {
  font-weight: lighter;
  font-size: 2em;
}
.captions {
    margin-bottom: 4em;
    text-align: center;
}


/*------------------------------------ NAVBAR --------------------------------*/
#mainPic {
  height: 36em;
  width: 100%;
}
#mainNav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /*background-color: white;*/
  background:
    linear-gradient(
      rgba(255, 255, 255, .2),
      rgba(255, 255, 255, .2)
    ),
    url('../img/symphony.png');
    /*url('../img/subtle_white_feathers.png');*/
    /*url('../img/norwegian_rose.png');*/
  padding-bottom: 1em;
}
ul {
  background-color: rgba(255, 255, 255, 0);
}
.dropdown-toggle {
  background-color: rgba(255, 255, 255, 0);
}
.dropdown-menu ul {
  display: none;
}
.dropdown-menu ul:hover {
  display: block;
}
.caret {
  color: #999999;
  margin-right: 3em;
}


/* -------------------------- BUTTONS AND LINKS ---------------------------- */
.btn {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);;
  padding-left: 0em;
}
.btn-default{
  background-color: rgba(255, 255, 255, 0);;
  border: none;
}
.btn-default:hover {
  color: #777777;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  shadow: none;
}
.btn .btn-default .dropdown-toggle{
  background-color: rgba(255, 255, 255, 0);
}
.btn-group {
  background-color: rgba(255, 255, 255, 0);
}
.homebutton {
  padding: none;
}
a:link {
    color: black;
}

a:hover {
    color: #777777;
    text-decoration: none;
}
.inactive {
  margin-left: 1.5em;
  color: #BDBDBD
}


/*-------------------------------- MEDIA QUERIES -----------------------------*/
@media (max-width: 900px){
  #mainPic {
    height: 28em;
  }
  .caret {
    margin-right: 2em;
  }
  .blog-img {
    max-height: 20em;
  }
  .blog img {
    max-height: 20em;
  }
  .blog figure {
    max-height: 20em;
  }
}

@media (max-width: 700px) {
  .sitesections {
    padding: 0em;
  }
  #menuButton {
    padding: 0em;
  }
  #mainPic {
    height: 20em;
  }
  .blog {
    padding-top: .5em;
  }
  .blog-img {
    max-height: 15em;
  }
  .blog img {
    max-height: 15em;
  }
  .blog figure {
    max-height: 15em;
  }
  .blog figcaption p {
    font-size: 1em;
  }
}
@media (max-width: 502px) {
  .caret {
    padding: 0em;
    margin-right: 1.2em;
  }
  .spacer {
    padding: .4em;
  }
  #mainPic {
    margin-top: 1em;
  }
  .blog {
    padding-top: 1.2em;
  }
  .blog-img {
    max-height: 10em;
  }
  .blog img {
    max-height: 10em;
  }
  .blog figure {
    max-height: 10em;
  }
  .blog figcaption p {
    font-size: 1em;
  }
  .bottomblog {
    width: 25em;
    height: 15em;
  }
}

@media (max-width: 420px) {
  .caret {
    padding: 0em;
    margin-right: .75em;
  }
  .spacer {
    padding: .2em;
  }
  #mainPic {
    margin-top: 1em;
  }
  .blog-img {
    max-height: 10em;
  }
}
