/* GENERAL */
body {
  padding-top: 2em;
  padding-bottom: 2em;
  background:
    linear-gradient(
      rgba(255, 255, 255, .2),
      rgba(255, 255, 255, .2)
    ),
    url('../img/symphony.png');
    /*url('../img/subtle_white_feathers.png');*/
}
.open {
  background-color: rgba(255, 255, 255, 0);
}
.spacer {
  padding: .75em;
}
.bottomblog {
	border-radius: 50%;
	height: 15em;
	width: 25em;
  margin-top: 5em;
  margin-bottom: 2em;
}
.blog-img {
  width: 100%;
  height: 25em;
  display: block;
  margin-left: collapse;
  margin-right: collapse;
}
.row {
  margin-left: 0em;
  margin-right: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  margin-top: 0em;
}
.partialContainer {
  padding-top: 7%;
  padding-bottom: 7%;
}


/* TEXT SIZES */
h1 {
  font-family: serif;
  font-weight: bold;
}
h2 {
  font-family: "Kaushan Script";
  font-weight: 400;
}
h3 {
  font-family: "Gill Sans";
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  text-align: justify;
}
h4 {
  font-family: "Gill Sans", sans-serif;
}
.summary {
  font-family: "Gill Sans";
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  padding-bottom: 3em;
}
.intro {
  font-family: "Gill Sans";
  font-size: 2em;
  margin-top: 1em;
  text-align: justify;
}
.blog {
  font-weight: lighter;
  font-size: 2em;
}
.captions {
    margin-bottom: 4em;
    padding-left: 6em;
    padding-right: 6em;
    text-align: center;
}


/* NAVBAR */
#mainPic {
  height: 36em;
  width: 100%;
}
#mainNav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /*background-color: white;*/
  background:
    linear-gradient(
      rgba(255, 255, 255, .2),
      rgba(255, 255, 255, .2)
    ),
    url('../img/symphony.png');
    /*url('../img/subtle_white_feathers.png');*/
    /*url('../img/norwegian_rose.png');*/
  padding-bottom: 1em;
}
ul {
  background-color: rgba(255, 255, 255, 0);
}
.dropdown-toggle {
  background-color: rgba(255, 255, 255, 0);
}
.dropdown-menu ul {
  display: none;
}
.dropdown-menu ul:hover {
  display: block;
}
.caret {
  color: #999999;
  margin-right: 3em;
}


/* BUTTONS AND LINKS */
.btn {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);;
  padding-left: 0em;
}
.btn-default{
  background-color: rgba(255, 255, 255, 0);;
  border: none;
}
.btn-default:hover {
  color: #777777;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  shadow: none;
}
.btn .btn-default .dropdown-toggle{
  background-color: rgba(255, 255, 255, 0);
}
.btn-group {
  background-color: rgba(255, 255, 255, 0);
}
.homebutton {
  padding: none;
}
a:link {
    color: black;
}

a:hover {
    color: #777777;
    text-decoration: none;
}
.inactive {
  margin-left: 1.5em;
  color: #BDBDBD
}


/* MEDIA QUERIES */
@media (max-width: 900px){
  #mainPic {
    height: 28em;
  }
  .caret {
    margin-right: 2em;
  }
}

@media (max-width: 700px) {
  .sitesections {
    padding: 0em;
  }
  #menuButton {
    padding: 0em;
  }
  #mainPic {
    height: 20em;
  }
}

@media (max-width: 500px) {
  .caret {
    padding: 0em;
    margin-right: .8em;
  }
  .spacer {
    padding: .1em;
  }
}
