body {
  padding-top: 2em;
  padding-bottom: 2em;

}

h4 {
  font-family: "Gill Sans", sans-serif;
}

.btn {
  text-transform: uppercase;
}

.btn-default {
  background-color: #FFFFFF;
  border: none;
}

.btn-group {
  background-color: #FFFFFF;
}

.navbar {
  background-color: #FFFFFF;
  padding: 1em;
  position: fixed;
}

.caret {
  margin-left: 2em;
  color: #999999;
}

.spacer {
  margin: .5em;
}

h1 {
  font-family: serif;
  font-weight: bold;
}

.heading {
  margin-left: 2em;
}

.sitesections {
  margin-left: 1.1em;
}

.intro {
  font-family: "Gill Sans";
  font-size: 2em;
}

h2 {
  font-family: "Kaushan Script";
  font-weight: 400;
}

.blog {
	margin: 10px 20px 10px 20px;
  font-weight: lighter;
  font-size: 2em;
}

.bottomblog {
	border-radius: 50%;
	height: 400px;
	width: 700px;
}

h3 {
  font-family: "Gill Sans";
  font-weight: normal;
  margin-left: 2em;
}

a:link {
    color: black;
}

a:hover {
    color: #555555;
    text-decoration: none;
}
