<center>
  <h1>APPS</h1>
</center>
<br>
<hr>
<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <p><a target="_blank
        " href="http://travelsuggestions.xyz"> TRAVEL DESTINATION SUGGESTIONS
        <br>
          <center>
            <video controls id="video">
              <source src="http://mattsmobley.com/tdengine.mov" type="video/mp4">
                Your browser does not support the video tag.
            </video>
          </center>
       </a></p>

      <h3>This app determines best travel destinations based on the month a user would like to vacation and the type of experience desired. After selecting your specific criteria, you'll be presented with a list of suggested destinations. Along with each city is a gallery of pictures and brief explanation. <br> The database of destinations was hand-created by me, after years of extensive travel research and my own travel experiences. There are currently around 70 destinations in the database, and I plan to keep adding more. </h3>
      <br><br>
          <p><a target="_blank
            " href="http://tripstart.site"> TRIPSTART
            <br>
              <center>
                <video controls id="video">
                  <source src="http://mattsmobley.com/tripstart.mov" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
            </center>
          </a></p>

      <h3>If you are curious about traveling to various cities, this is a perfect app for you. It brings in various pertinent info like weather, population, timezone/currency, a picture gallery, a point-of-interest map, and a terrain map. </h3>
        <br><br>
  </div>
  <center>
    <img class="bottomblog" src="../img/rifle-terri.gif">
  </center>
  </div>
  <div class="col-md-1">
  </div>

</div>
