<div class="partialContainer">

<div class="col-md-1">
</div>
<div class="col-md-10">
    <h1> GALVANIZE BLOG </h1>
<div class="spacer">
</div>
  <div class="blog">
    <p> October 30, 2015 </p>
    <h3> Today we finished our first week in Galvanize. I feel like I've learned a lot, but have so much further to go. I think to be where I want to be, I'll need to do some extra work for awhile, outside of class. Today, I finished one of two wireframe activities
      in about 30 minutes, and the second one took over 3 hours. I most likely need some clarification on containers and how they respond to eachother, especially with respect to inheritance. I don't know if all of my blog posts will contain goals, but this
      one will. By my next blog post I would like to have much more complete understanding of containers and sibling/child relationships.
      <br>
      <br> Ball is in YOUR court, future Matt.
    </h3>
    <br>
    <br>
    <p> December 10, 2015 </p>
    <h3> So I guess it has been a while since my last blog post... And a while since I have updated my personal website, for that matter. I want to make it a goal to make a blog post once a week. It's important for me to see my progress and to make notes of
      things we are learning, since this class is such a whirlwind of information. I'm really looking forward to the Christmas break so that I have plenty of time to get my personal website in order. Lately, we have been focusing more on back-end technologies
      like node. It is a little tougher for me to get excited about, because you don't see results the same as you do when working with html/css. But, I know node is powerful and therefore would like to spend time on it.
    </h3>
    <br>
    <br>
    <p> January 4, 2016 </p>
    <h3> Today we learned promises in javascript. After a long winter break, it was a little arduous. I think it will be something that takes a while to learn but really helps clean up my code. After all, pretty, easily-replicated code is what we all want.
    </h3>
    <br>
    <br>
    <p> January 8, 2016 </p>
    <h3> 'Tis a snowy Friday, indeed. I finally understand promises, which is great. This week was an important week for us, going forward. We learned a lot about authentication and authorization, as well as some important strategies involving routing. At this point, we have just about learned everything that we will need to produce a full-blown application on both the front and back end. As always, some extra time devoted to these topics will definitely help me grow. I'm excited to put all these concepts to use and start creating some great projects.
    </h3>
</div>
<div class="col-md-1">
</div>
</div>
</div>
