<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> BUDGET TRAVELING IN EUROPE </h1>

      <h3>Most of my time abroad has been spent in Europe, and deservedly so.  I’m interested in so many countries and cultures, but with all the forms of transportation available in Europe, and the density of attractions, you can really do a lot in one trip.</h3>
      <br><br>
          <p> OPTIONS YOU MAY NOT THINK ABOUT</p>

      <h3> I’ve taken a transatlantic cruise to Europe the past 2 years.  Each time the cruise ended in Barcelona, Spain, and each time it was cheaper than an airline ticket.  If you have 15-17 days to get to Europe, I HIGHLY recommend it.  Gourmet food, lodging, activities, and room service for the same price as a 9-hour flight to Barcelona.  The best part, though, is that I have been able to travel to Key West, St. Maarten, The Canary Islands, Madeira, Gibraltar, and Malaga all along the way to Barcelona.
        <br><br>
      Once in Europe, you’ll probably want to ride a few trains. While regional trains can be very cheap (<$20 USD in a lot of cases), trains between different countries can get pricey. <a href="http://seat61.com">Here is a great website for some deeper train research</a>. Budget airlines are all the rage now in Europe. You can get half way across the continent for about $35 USD. There are fees for EVERYTHING, though, so make sure to pack lightly, get your tickets online, and check in before you arrive at the airport.</h3>
        <br><br>
            <p>ACCOMODATION</p>
      <h3> I am a major advocate of websites like <a href="http://airbnb.com">Airbnb</a>. Not only is it generally cheaper than a hotel, but you get to know a bit more about the local culture, as well. In over a dozen bookings, I have never had a bad experience. In fact, quite the opposite. I have been picked up from the airport, given a tour of the town, given maps with local hot spots marked, given breakfast foods and tea/coffee, greeted with wine and beer, and got to know some really cool people with interesting stories. In Croatia, I was even given a moped to use during my stay, free of charge.
        <br><br>
      Although websites like Airbnb are growing rapidly, in certain parts of Europe there are few listings. Places like Switzerland, Austria, Ireland, and some older resort towns along the Mediterranean still do things in a more classic fashion. You’ll find that it is easier in these places just to rent a guestroom, guesthouse, or “zimmer.” Of course, you could opt for a standard hotel experience, and there are thousands of websites to help you locate those.
      </h3>
      <br><br>
          <p>SEARCHING FOR A CITY TO VISIT</p>
      <h3> I’ve spent considerable time in Spain, France, and the U.K., and 5-7 days in every other Western European country, and some Eastern. Among my favorites are Spain, Switzerland, and Croatia. Every country seems to have something to offer.  One thing I have noticed, is that for every large tourist city, there are 100 other beautiful small cities that deserve a visit.  The most important thing to remember is just to do some research before spending time in a city.  You may find, like me, that Paris, London, and Rome aren’t your pace.  Instead, you might find yourself falling in love with Sintra, Montpellier, or Cinque Terre. Public transportation should be considered, but even small towns in Europe are fairly simple to reach.
        <br>If you need help deciding, <a href="http://travelsuggestions.xyz">I've created an app</a> that gives you suggestions based on the types of things you are looking for!
    </h3>
    <br><br>
        <p>LANGUAGE BARRIERS</p>
      <h3> Certain countries in Europe are must easier to get by in speaking only English. In most high volume tourist areas they will all speak English, and will most likely cater to your needs. Of course, you won’t get as good of a price, or quality, as you would outside the main tourist drags. In Southern Europe, most young people speak a good amount of English. This is less-often the case with the older generations. In Northern Europe, you’ll find that most everyone will speak English.
        <br><br>
      Everyone will ALWAYS treat you nicer if you attempt to speak their language first. However, it is a little unreasonable to learn a language just as a prerequisite for visiting the country. My advice is to learn 5-10 sayings in the language. Locals will be impressed and gracious that you attempted their language, when many, many others don’t even try. If you forget to learn a few sayings, the kindest way to start a conversation with someone is simply by saying, “English?.”
    </h3>
  <br><br>
      <p>EASTERN EUROPE</p>
      <h3> Eastern Europe is becoming increasingly western. Places like Slovenia, Croatia, Czech Republic, as well as some other countries, are becoming much more easy to travel around. And cheap! In Prague, we got a dinner for 2 of salmon and pork knuckle and 3 or 4 beers, and the total was 500 CZK. (around $19 USD). There are some amazing sights in this region, and most of the locals are happy to see tourists spending money in their country. I had some of my best interactions with locals in this area of Europe.
      </h3>
  </div>
  </div>
  <div class="col-md-1">
  </div>

</div>
