<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> CRUISING </h1>
    </div>

    <h3 class="summary"> I've been on a handful of Caribbean cruises and two transatlantic cruises. I've always loved cruises, I think you get a lot for your money. But transatlantic cruises are another story. Both of the transatlantic cruises I've been on were under $500 per ticket. Not only is that less than the price of a one-way flight to Europe, but you also get to go to several amazing ports, get gourmet food, maid service, and a lot of time to relax/tan/work-out/read/etc. </h3>

    <div class="blog">

      <p>PHILIPSBURG, SINT MAARTEN </p>
         <div>
             <a href="#/cruising/philipsburg">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/06/paradise.jpg" alt="Philipsburg">
                        <figcaption><p>Philipsburg <br><br> 11 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> The beach at Philipsburg is the prettiest I've ever been to.
      </h3>


      <p>FUNCHAL, MADEIRA</p>
         <div>
             <a href="#/cruising/funchal">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/06/gondola2.jpg" alt="Funchal">
                        <figcaption><p>Funchal <br><br> 12 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I would definitely go back to Funchal for a longer visit. It was a beautiful island city with a ton to offer.
      </h3>


      <p>TENERIFE, CANARY ISLANDS</p>
         <div>
             <a href="#/cruising/tenerife">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/06/p1000680.jpg" alt="Tenerife">
                        <figcaption><p>Tenerife <br><br> 8 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I wouldn't rate Tenerife as highly as Funchal, but it still is very charming. There are parks and flowers and beautiful views everywhere. Also, there is a national park where you can ride ATVs and such.
      </h3>

      <p>GIBRALTAR, U.K.</p>
         <div>
             <a href="#/cruising/gibraltar">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/06/rock3.jpg" alt="Gibraltar">
                        <figcaption><p>Gibraltar <br><br> 12 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> We stopped in Gibraltar for a day on a transatlantic cruise.
      </h3>

      <p>MALAGA, SPAIN</p>
         <div>
             <a href="#/cruising/malaga">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/06/p10008191.jpg" alt="Malaga">
                        <figcaption><p>Malaga <br><br> 11 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I've been to Malaga twice on transatlantic cruises. It has a reputation in Europe of being an overcrowded British retirement hotspot, but I absolutely loved it. It's pedestrian mall is extremely nice and the beach isn't too crowded.
      </h3>

    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
