<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> EUROPE </h1>
    </div>

    <h3 class="summary"> These are some of the European places that I have enjoyed most.  Whenever I visit a country, I try to spend AT LEAST a week there. It's important to me to spend time in the major cities, as well as some charming smaller cities. It really gives you a better idea of the country. Visit some sights/restaurants that you find highly-rated on TripAdvisor or Yelp(why not learn from those who came before you), and also visit some recommendations from locals. You may easily find a hidden gem. I ALWAYS make sure to try the local favorites as far as food and drinks. Whether it's francesinhas and pasteis de nata in Portugal, sauerkraut and beer in Germany, or lasagna in Ireland(<i>no really, that's a thing</i>), it's always a memorable experience trying the best food and drink that a country has to offer. </h3>

    <div class="blog">
      <p>SPAIN</p>
         <div class="galleryOver">
             <a href="#/spain">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/03/img_8538.jpg" alt="Sintra">
                        <figcaption><p><u>Spain</u> <br><br> Valencia, Palma (pictured), Catalonia</p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> Spain is probably my favorite country in Europe. The prices, the sights, and the food make it really hard to beat.
        <br>
        <u>FEATURED</u>: Valencia, Palma, Catalonia
      </h3>

      <p>SOUTHERN FRANCE</p>
         <div>
             <a href="#/southernFrance">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/03/img_6718.jpg" alt="Southern France">
                        <figcaption><p><u>Southern France</u> <br><br> Marseille (pictured), Montpellier</p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> Southern France and Northern France are quite different. I personally connected with the laid back lifestyle of Southern France.
        <br>
        <u>FEATURED</u>: Marseille, Montpellier
      </h3>

      <p>PORTUGAL</p>
         <div>
             <a href="#/portugal">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/06/dsc00951.jpg" alt="Portugal">
                        <figcaption><p><u>Portugal</u> <br><br> Porto (pictured), Lisbon, Cascais, Sintra</p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> Portugal feels a bit like Spain; it is relaxed, cheap, warm, and mostly everything revolves around food. Portuguese people were very friendly and I highly recommend it to anyone looking for an inexpensive European vacation in the sun. <br>
      <u>FEATURED</u>: Porto, Lisbon Area
    </h3>

    <br>
        <p>MORE COMING SOON</p>
    <br>


    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
