<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> EUROPE </h1>
    </div>

    <h3 class="summary"> These are the European countries that I have visited. Whenever I visit a country, I try to spend AT LEAST a week there. It's important to me to spend time in the major cities, as well as some charming smaller cities. It really gives you a better idea of the country. Visit some sights/restaurants that you find highly-rated on TripAdvisor or Yelp(why not learn from those who came before you), and also visit some recommendations from locals. You may easily find a hidden gem. Be sure to try the local favorites as far as food and drinks!</h3>

    <div class="blog">
      <a href="#/spain">
        <p>SPAIN </p>

        <img src="https://matterri.files.wordpress.com/2016/03/img_8538.jpg" class="blog-img">
        <h3 class="captions"> Spain might be my favorite country in Europe. The prices, the sights, and the food make it really hard to beat. (3 cities featured)
        </h3>
      </a>

    <br>
        <p>MORE COMING SOON</p>
    <br>


    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
