<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> FAVORITES </h1>
    </div>

    <h3 class="summary"> Out of all the cities in all the countries that I've been to, these are some of my very favorites. While I wasn't able to stay in some of these places as long as some others, they left incredible impressions. </h3>

    <div class="blog">
      <a href="#/faves/croatia">
        <p>DUBROVNIK, CROATIA </p>

        <img src="https://matterri.files.wordpress.com/2015/04/213.jpg" class="blog-img">
        <h3 class="captions"> I stayed in Dubrovnik for 5 days and visited 3 surrounding islands. (11 pics)
        </h3>
      </a>

      <a href="#/faves/cinqueterre">
        <p>CINQUE TERRE, ITALY</p>

        <img src="https://matterri.files.wordpress.com/2015/04/img_6752.jpg" class="blog-img">
        <h3 class="captions"> I was only in Cinque Terre for 3 short days, but it was incredibly memorable. (11 pics)
        </h3>
      </a>

      <a href="#/faves/sintra">
        <p>SINTRA, PORTUGAL</p>

        <img src="https://matterri.files.wordpress.com/2015/06/img_87931.jpg" class="blog-img">
        <h3 class="captions"> I stayed in Lisbon for 4 days, traveling to Sintra for only one long, amazing day. (11 pics)
        </h3>
      </a>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
