<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> FAVORITES </h1>
    </div>

    <h3 class="summary"> Out of all the cities in all the countries that I've been to, these are some of my very favorites. While I wasn't able to stay in some of these places as long as some others, they left incredible impressions. </h3>

    <div class="blog">

      <p>DUBROVNIK, CROATIA </p>
         <div>
             <a href="#/faves/croatia">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2015/04/213.jpg" alt="Dubrovnik">
                        <figcaption><p>Dubrovnik <br><br> 11 pics</p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I stayed in Dubrovnik for 5 days and visited 3 surrounding islands.
      </h3>


      <p>CINQUE TERRE, ITALY</p>
         <div>
             <a href="#/faves/cinqueterre">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2015/04/img_6752.jpg" alt="Porto">
                        <figcaption><p>Cinque Terre <br><br> 11 pics</p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I was only in Cinque Terre for 3 short days, but it was unbelievably memorable.
      </h3>


      <p>SINTRA, PORTUGAL</p>
         <div>
             <a href="#/faves/sintra">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2015/06/img_87931.jpg" alt="Sintra">
                        <figcaption><p>Sintra <br><br> 11 pics</p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I stayed in Lisbon for 4 days, traveling to Sintra for only one long, amazing day.
      </h3>

    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
