<div class="feature" id="featureItaly">
    <h1><span>ITALY</span><br>Cinque Terre, Padua/Venice</h1>
</div>
<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> ITALY </h1>
    </div>

    <h3 class="summary"> Unlike most of the countries in Europe, Italy did not quite meet my expectations. But that's not the entire story. One of the places I've visited in Italy, I've really liked(Padua), and one, is in my top favorite destinations that I've ever been(Cinque Terre). Just in general I had less-pleasant interactions, and noticed  more trash and dishonesty in the 7 Italian cities I've visited, than in any other one country. Still, that's not to say it doesn't have it's amazing areas. Some of my favorite memories are from Italy. It can really have that effect on you sometimes. </h3>

    <div class="blog">
      <p>ITALY </p>
         <div>
             <a href="#/faves/cinqueterre">
                  <figure>
                        <img class="blog-img" src="../img/porto/porto1.JPG" alt="Porto">
                        <figcaption><p>Cinque Terre <br><br> 14 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> A couple of our friends from London met us in Porto for a 4 day weekend in May 2015.
      </h3>

      <p>LISBON AREA (CASCAIS & SINTRA) </p>
         <div>
             <a href="#/portugal/lisbon">
                  <figure>
                        <img class="blog-img" src="../img/lisbon/cascais1.jpg" alt="Lisbon Area">
                        <figcaption><p>Padua <br><br> 18 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I spent 4 nights in Lisbon, traveling to Cascais and Sintra for a day each, in May 2015.
      </h3>


    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
