<div class="feature" id="featureItaly">
    <h1><span>ITALY</span><br>Cinque Terre, Padua/Venice</h1>
</div>
<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> ITALY </h1>
    </div>

    <h3 class="summary"> Out of all of the places I have visited in Italy, these are some of my favorites. </h3>

    <div class="blog">
      <p>ITALY </p>
         <div>
             <a href="#/faves/cinqueterre">
                  <figure>
                        <img class="blog-img" src="../img/porto/porto1.JPG" alt="Porto">
                        <figcaption><p>Porto <br><br> 14 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> A couple of our friends from London met us in Porto for a 4 day weekend in May 2015.
      </h3>

      <p>LISBON AREA (CASCAIS & SINTRA) </p>
         <div>
             <a href="#/portugal/lisbon">
                  <figure>
                        <img class="blog-img" src="../img/lisbon/cascais1.jpg" alt="Lisbon Area">
                        <figcaption><p>Lisbon Area <br><br> 18 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I spent 4 nights in Lisbon, traveling to Cascais and Sintra for a day each, in May 2015.
      </h3>


    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
