
<div class="feature">
    <h1><span>ROOTLESS</span><br>A Man and a World</h1>

    <div class='globeContainer'>
      <div class='globe' id="globe"></div>
    </div>
</div>
<div class="partialContainer">

  <!-- <div class="row">
    <img src="../img/mainPic.JPG" class="img-responsive" id="mainPic">
  </div> -->

  <!-- change pic to have media query -->

<div class="col-md-1">

</div>
<div class="col-md-10">
  <div class="row">
    <div class="spacer">
    </div>

    <p class="intro">As a child, I had the world surrounding my room in the form of wallpaper. In high school, the only homework I actually did was Geography. And in college, I was completely enthralled with foreign cultures. Finally in 2011, I moved to Houston, TX, met the love of my life, and we started traveling the world.
    <br><br>
    Anyway, this is not a love story about a man and a woman. It’s a love story about a man and a world. </p>
    <br><br>
  </div>


<center>
  <img class="bottomblog" src="../img/followTerri3.gif">
</center>
</div>
<div class="col-md-1">

</div>

</div>
