<div class="feature" id="featureColorado">
    <h1><span>UNITED STATES</span><br>Colorado</h1>
</div>
<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> UNITED STATES </h1>
    </div>

    <h3 class="summary"> Admittedly, I haven't traveled as much in the United States as I would have liked. But, these are some of the places I've enjoyed most. </h3>

    <div class="blog">
      <p>COLORADO </p>
         <div>
             <a href="#/northAmerica/colorado">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/06/gardenofthegods1.JPG" alt="Colorado">
                        <figcaption><p>Colorado <br><br> 19 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I currently live in Fort Collins and travel around to many in-state sights.
      </h3>

      <!-- <p>TORONTO, CANADA </p>
         <div>
             <a href="#/toronto">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/06/dsc01040.JPG" alt="Lisbon Area">
                        <figcaption><p>Toronto <br><br> 10 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> Terri and I spent 3 days in Toronto on the way home from Europe.
      </h3> -->


    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
