<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> PORTUGAL </h1>
    </div>

    <h3 class="summary"> Out of all of the places I have visited in Portugal, these are some of my favorites. </h3>

    <div class="blog">
      <a href="#/porto">
        <p>PORTO </p>

        <img src="https://matterri.files.wordpress.com/2016/03/dsc00763.jpg" class="blog-img">
        <h3 class="captions"> I stayed in Valencia for what seemed like a very short 5 days. (13 pics)
        </h3>
      </a>
      <a href="#/palma">
        <p>PALMA and PORT DE SOLLER, MALLORCA </p>

        <img src="https://matterri.files.wordpress.com/2016/03/dsc00871.jpg" class="blog-img">
        <h3 class="captions"> I spent 3 days and 4 nights in Palma and one day in Port de Soller. (10 pics)
        </h3>
      </a>
      <a href="#/catalonia">
        <p>TOWNS AND COUNTRYSIDE IN CATALONIA </p>

        <img src="https://matterri.files.wordpress.com/2016/03/p1000966.jpg" class="blog-img">
        <h3 class="captions"> I stayed in small-town Catalonia for a month. (10 pics)
        </h3>
      </a>


    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
