<div class="feature" id="featurePortugal">
    <h1><span>PORTUGAL</span><br>Porto, Lisbon Area</h1>
</div>
<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> PORTUGAL </h1>
    </div>

    <h3 class="summary"> Portugal is one of the more underrated places in Europe. I would definitely put it in my top-5, maybe even top-3, favorite countries in which I've traveled. Everything is SUPER cheap, the cheapest in Western Europe. I mean like $5 for a salad/sandwich/wine in a high-traffic area, where tourists tend to get ripped off. Portugal has a very laid-back culture, kind of like Spain. In fact, in a lot of aspects, it reminded me of Spain. Only, I'd argue that Portugal has more attractions per square mile. The beaches were stunning, and Portugal has the most incredible edifice that I've ever seen, the Peña Palace.  </h3>

    <div class="blog">
      <p>PORTO </p>
         <div>
             <a href="#/portugal/porto">
                  <figure>
                        <img class="blog-img" src="../img/porto/porto1.JPG" alt="Porto">
                        <figcaption><p>Porto <br><br> 14 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> A couple of our friends from London met us in Porto for a 4 day weekend in May 2015.
      </h3>

      <p>LISBON AREA (CASCAIS & SINTRA) </p>
         <div>
             <a href="#/portugal/lisbon">
                  <figure>
                        <img class="blog-img" src="../img/lisbon/cascais1.jpg" alt="Lisbon Area">
                        <figcaption><p>Lisbon Area <br><br> 18 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions">  I spent 4 nights in Lisbon, traveling to Cascais and Sintra for a day each, in May 2015.
      </h3>


    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
