<br>
<br>
<br>
<br>
<br>
<center>
<div class="row">
  <iframe width="98%"
  height="400"
  frameborder="0"
  style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyD4-HSWiOy5uYc5ThAM0bCTJwkPqbfgntY&q=Sintra+Portugal"
  allowfullscreen>
  </iframe>
</div>
</center>
<!--IN HERE ADD GOOGLE MAPS API WITH A POINT ON CINQUE TERRE!!!!-->
  <center>
    <h1> SINTRA </h1>
    <br><br>
    <h1 class = "summary"> (Most of my time spent in Sintra was at Pena Palace and Pena Park. While on a trip to Lisbon, we only set aside one day for Sintra. It was NOT enough. We were on the move all day long and still missed a few key sites. My advice for visiting the region is to AT LEAST spend 2 days in Sintra.)
      <br>
    The name Sintra comes from “Cynthia,” the Roman goddess of the moon. Constructed high upon a hill, it was a perfect spot to pay refuge to the moon goddess. Pena Palace was built in 1836 and received a royal makeover into the beautiful structure in these pictures when King Ferdinand and Queen Maria II converted the palace into a summer retreat. The Portuguese state bought the palace from the royal family in 1889, and while it is most frequently used for tourism, the palace still is occasionally used for high-level government meetings. In 1992, UNESCO expanded the World Heritage categories and established the “Cultural Landscape” criteria. Sintra proved to be the first such Cultural Landscape in Europe, receiving its classification in 1995. </h1>

<br><br>
<br><br>
<br><br>
  <div class="blog">
    <p> Pena Palace </p>
      <br>
        <img src="https://matterri.files.wordpress.com/2015/06/img_87931.jpg" class="blog-img">
        <br>
      <h3>
        Built in 1836, Pena Palace is one of the most impressive, unique structures I’ve ever seen.</h3>
      <br><br>
        <img src="https://matterri.files.wordpress.com/2015/06/dsc010621.jpg" class="blog-img">
        <br>
      <h3> From this angle, you can see many of the types of architecture styles that make up the beautiful Pena Palace. There is a mix of Islamic, Gothic, neo-Manueline, and neo-Renaissance styles with domes, parapets, and vaulted arches.</h3>
      <br><br>
        <img src="https://matterri.files.wordpress.com/2015/06/img_87911.jpg" class="blog-img">
        <br>
        <h3> The entrance of Pena Palace. There is everything that a fairy-tale castle needs: a drawbridge, gargoyles, turrets, ramparts, battlements, and domes; all in pastel.</h3>
      <br><br>
        <img src="https://matterri.files.wordpress.com/2015/06/dsc010841.jpg" class="blog-img">
        <br>
        <h3> Outer walls of Pena Palace. There are several chapels and meeting rooms on this level. The palace was formerly a refuge of monastic silence.</h3>
      <br><br>
        <img src="https://matterri.files.wordpress.com/2015/06/img_88001.jpg" class="blog-img">
        <br>
        <h3> Up near the top of Pena Palace. It was so windy it was difficult to walk.</h3>
      <br><br>
        <img src="https://matterri.files.wordpress.com/2015/06/dsc010741.jpg" class="blog-img">
        <br>
        <h3> You could see all of Sintra, and then some, from Pena Palace.</h3>
      <br><br>
      <br>
    <p> Quinta da Regaleira </p>
      <br>
        <img src="https://matterri.files.wordpress.com/2015/06/img_88201.jpg" class="blog-img">
        <br>
        <h3> The initiation well at Quinta da Regaleira is an incredibly unique and beautiful structure. Another well, dubbed the unfinished well, is located at the other end of the park. Though not as impressive as this well, it is still worth seeing.</h3>
      <br><br>
        <img src="https://matterri.files.wordpress.com/2015/06/img_88291.jpg" class="blog-img">
        <br>
        <h3> Quinta da Regaleira is known for its waterfalls, picturesque wells, and underground tunnel network.</h3>
      <br><br>
        <img src="https://matterri.files.wordpress.com/2015/06/dsc011201.jpg" class="blog-img">
        <br>
        <h3> The Mansion at Quinta da Regaleira. While the structures at Quinta da Regaleira would be the highlight of most cities, they are a bit overshadowed in Sintra thanks to the several beautiful and historic palaces.</h3>
        <br><br>
      <br>
    <p> Parque Natural de Sintra-Cascais </p>
      <br>
        <img src="https://matterri.files.wordpress.com/2015/06/dsc010541.jpg" class="blog-img">
        <br>
        <h3> The prehistoric-looking Pena Park that surrounds the palace features ponds, fountains, statues, numerous trails, and exotic plants from former Portuguese colonies.</h3>
      <br><br>
        <img src="https://matterri.files.wordpress.com/2015/06/dsc011091.jpg" class="blog-img">
        <br>
        <h3> Pena Palace from Quinta da Regaleira. Because of the palace, all of the parks, and Quinta da Regaleira, the entire municipality of Sintra is a UNESCO World Heritage site.</h3>
        <br><br>
      <br>


    <br><br><br><br>
