<div class="feature" id="featureFrance">
    <h1><span>SOUTHERN FRANCE</span><br>Marseille, Montpellier</h1>
</div>
<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> SOUTHERN FRANCE </h1>
    </div>

    <h3 class="summary"> Out of all of the places I have visited in Southern France, these are some of my most favorites. </h3>

    <div class="blog">
      <p>MARSEILLE </p>
         <div>
             <a href="#/southernFrance/marseille">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/03/img_6718.jpg" alt="Marseille">
                        <figcaption><p>Marseille <br><br> 10 <i class="fa fa-camera-retro" aria-hidden="true"></i>
</p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I spent 3 days in Marseille and nearby towns.
      </h3>

      <p>MONTPELLIER </p>
         <div>
             <a href="#/southernFrance/montpellier">
                  <figure>
                        <img class="blog-img" src="https://matterri.files.wordpress.com/2016/03/img_1687.jpg" alt="Montpellier">
                        <figcaption><p>Montpellier <br><br> 10 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I spent 3 days in the center of Montpellier.
      </h3>


    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
