<div class="feature" id="featureFrance">
    <h1><span>SOUTHERN FRANCE</span><br>Marseille, Montpellier</h1>
</div>
<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> SOUTHERN FRANCE </h1>
    </div>

    <h3 class="summary"> Southern France is a very relaxing experience. It is all about 'ambiance' and conviviality. The pace of life is medium-slow and the people enjoy EVERYTHING outdoors. I spent around a month in Southern France in 2014 and experienced some of the best farmers markets and the best patio restaurants of anywhere I'd ever been. One thing that is not to be missed in Southern France, are the <a href="https://www.google.com/search?q=calanques&safe=off&espv=2&biw=1308&bih=760&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjdi8iV1O_PAhXGaRQKHdgwDrEQ_AUIBygC">calanques</a> - gorgeous white cliffs surrounding turquoise pools lined with (often nude) sunbathers, picnickers, and various adventurers.  
    </h3>

    <div class="blog">
      <p>MARSEILLE </p>
         <div>
             <a href="#/southernFrance/marseille">
                  <figure>
                        <img class="blog-img" src="../img/marseille/IMG_6718.JPG" alt="Marseille">
                        <figcaption><p>Marseille <br><br> 10 <i class="fa fa-camera-retro" aria-hidden="true"></i>
</p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I spent 3 days in Marseille in July 2014.
      </h3>

      <p>MONTPELLIER </p>
         <div>
             <a href="#/southernFrance/montpellier">
                  <figure>
                        <img class="blog-img" src="../img/montpellier/sunset.JPG" alt="Montpellier">
                        <figcaption><p>Montpellier <br><br> 10 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                  </figure>
            </a>
        </div>
      <h3 class="captions"> I spent 3 days in the center of Montpellier in June 2014.
      </h3>


    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
