<div class="feature" id="featureSpain">
    <h1><span>SPAIN</span><br>Valencia, Palma, Catalonia, Malaga</h1>
</div>
<div class="partialContainer">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="spacer">
    </div>
    <div class="blog">
      <h1> SPAIN </h1>
    </div>

    <h3 class="summary"> If I had to choose my favorite country to visit, it would be Spain. The food and wine are arguably the best I've had in Europe. It's about $2 for a glass of good wine and it usually comes with a small appetizer. The towns are littered with flower gardens, beautiful churches and castles. The extensive coastline features myriad beautiful beaches and intriguing cliffs. The best thing about Spain, though, is the culture and the energy from the people. I have met so many nice people in Spain, it's really easy to feel at home there.  </h3>

    <div class="blog">
        <p>VALENCIA </p>
	         <div>
		           <a href="#/spain/valencia">
			              <figure>
				                  <img src="../img/valencia/DSC00763.JPG" alt="Valencia">
				                  <figcaption><p>Valencia <br><br> 13 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
			              </figure>
		          </a>
	        </div>
        <h3 class="captions"> I stayed in Valencia, for what seemed like a VERY short 5 days, in May 2015.
        </h3>


        <p>PALMA DE MALLORCA </p>
          <div>
              <a href="#/spain/palma">
                <figure>
                  <img src="../img/palma/DSC00871.JPG">
                  <figcaption><p>Palma<br><br> 10 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
                </figure>
              </a>
          </div>
        <h3 class="captions"> I spent 4 days in Palma in May 2015.
        </h3>

        <p> CATALONIA </p>
          <div>
            <a href="#/spain/catalonia">
              <figure>
                <img src="../img/catalonia/P1000966.jpg">
                <figcaption><p>Catalonia<br><br> 10 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
              </figure>
            </a>
          </div>
          <h3 class="captions"> I stayed in small-town Catalonia, for a month, in June 2014.
          </h3>

        <p> MALAGA </p>
          <div>
            <a href="#/spain/malaga">
              <figure>
                <img src="../img/malaga/Northern Malaga.JPG">
                <figcaption><p>Malaga<br><br> 10 <i class="fa fa-camera-retro" aria-hidden="true"></i></p></figcaption>
              </figure>
            </a>
          </div>
          <h3 class="captions"> I visited Malaga in May 2014 & April 2015.
          </h3>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
