<center>
  <h1>TRAVELS</h1>
</center>
<br>
<br>
<a href="#/spain"><div class="featureCountry" id="featureSpain">
    <h1><span>SPAIN:</span><br>Valencia, Palma, Catalonia, Malaga</h1>
</div></a>
<a href="#/portugal"><div class="featureCountry" id="featurePortugal">
    <h1><span>PORTUGAL:</span><br>Porto, Lisbon Area</h1>
</div></a>
<a href="#/southernFrance"><div class="featureCountry" id="featureFrance">
  <h1><span>SOUTHERN FRANCE:</span><br>Marseille, Montpellier</h1>
</div></a>
<!-- <a href="#/italy"><div class="featureCountry" id="featureItaly">
  <h1><span>ITALY:</span><br>Cinque Terre, Padua/Venice</h1>
</div></a> -->
<a href="#/faves/croatia"><div class="featureCountry" id="featureCroatia">
    <h1><span>CROATIA:</span><br>Dubrovnik & Nearby Islands</h1>
</div></a>
<a href="#/northAmerica/colorado"><div class="featureCountry" id="featureColorado">
    <h1><span>UNITED STATES:</span><br>Colorado</h1>
</div></a>
<a href="#/cruising"><div class="featureCountry" id="featureCruising">
    <h1><span>ISLANDS:</span><br>Sint Maarten, Canary Islands, Madeira</h1>
</div></a>

<center>
  <img class="bottomblog" src="../img/cascais-terri.gif">
</center>
