<div class="partialContainer">
  <div class="row">

    <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Gibraltar">
    </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> GIBRALTAR, U.K. </h1>
  <h3 class="summary"> The city of Gibraltar is a litte bit rough around the edges, but the rock is a very entertaining attraction. The food is a mix of English, Spanish, and North African and most everyone speaks Spanish or English. The rock is the main reason people visit Gibraltar. I took a van tour of the rock, because it's quite a long way to walk on a street. It was definitely worth it. The guide told us a lot of history, showed us how to play with the apes, and took us to the best viewpoints.</h3>

  <div class="blog">
    <p>GIBRALTAR </p>
    <img src="../img/gibraltar/rock1.jpg" class="blog-img">
    <h3 class="captions"> Rock of Gibraltar, U.K.</h3>

    <img src="../img/gibraltar/rock2.jpg" class="blog-img">
    <h3 class="captions"> Rock of Gibraltar, U.K.</h3>

    <img src="../img/gibraltar/rock3.jpg" class="blog-img">
    <h3 class="captions"> Rock of Gibraltar, U.K.</h3>

    <img src="../img/gibraltar/rock4.jpg" class="blog-img">
    <h3 class="captions"> Rock Gibraltar, U.K.</h3>

    <center>
    <img src="../img/gibraltar/gibraltar1.jpg" class="blog-img portrait">
    <h3 class="captions"> Gibraltar, U.K.</h3>
  </center>

    <img src="../img/gibraltar/gibraltar2.jpg" class="blog-img">
    <h3 class="captions"> Gibraltar, U.K.</h3>

    <img src="../img/gibraltar/gibraltar3.jpg" class="blog-img">
    <h3 class="captions"> Gibraltar, U.K.</h3>

    <img src="../img/gibraltar/caves1.jpg" class="blog-img">
    <h3 class="captions"> Inside the Rock of Gibraltar.</h3>

    <center>
    <img src="../img/gibraltar/caves2.jpg" class="blog-img portrait">
    <h3 class="captions"> Inside the Rock of Gibraltar.</h3>
  </center>

    <img src="../img/gibraltar/apes1.jpg" class="blog-img">
    <h3 class="captions"> The macaques of Gibraltar.</h3>

    <img src="../img/gibraltar/apes2.jpg" class="blog-img">
    <h3 class="captions"> The macaques of Gibraltar.</h3>

    <img src="../img/gibraltar/apes3.jpg" class="blog-img">
    <h3 class="captions"> The macaques of Gibraltar.</h3>



  </div>

</div>
<div class="col-md-1">
</div>
</div>
