<div class="partialContainer">
  <div class="row">

    <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Malaga+Spain">
    </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> MALAGA, SPAIN </h1>
  <h3 class="summary"> Ah, Malaga. Malaga was the first place I ever went to in Spain, outside of the Canaries. I instantly knew I was going to love Spain, based on Malaga.</h3>

  <div class="blog">
    <p>MALAGA </p>
    <img src="../img/malaga/Northern Malaga.jpg" class="blog-img">
    <h3 class="captions"> Malaga, Spain.</h3>

    <img src="../img/malaga/Street Behind Alcazaba.jpg" class="blog-img">
    <h3 class="captions"> Malaga, Spain.</h3>

    <center>
    <img src="../img/malaga/P1000850.jpg" class="blog-img">
    <h3 class="captions"> Malaga, Spain.</h3>
  </center>

    <img src="../img/malaga/Beautiful purple trees.jpg" class="blog-img">
    <h3 class="captions"> Malaga, Spain.</h3>

    <img src="../img/malaga/DSC00507.jpg" class="blog-img">
    <h3 class="captions"> Malaga, Spain.</h3>

    <img src="../img/malaga/DSC00508.jpg" class="blog-img">
    <h3 class="captions"> Malaga, Spain.</h3>

    <img src="../img/malaga/Nice Shopping area.jpg" class="blog-img">
    <h3 class="captions"> Malaga, Spain.</h3>

    <img src="../img/malaga/P1000819.jpg" class="blog-img">
    <h3 class="captions"> Malaga, Spain.</h3>

      <img src="../img/malaga/Star garden.jpg" class="blog-img">
      <h3 class="captions"> Malaga, Spain.</h3>

    <img src="../img/malaga/Street to Beach better.jpg" class="blog-img">
    <h3 class="captions"> Malaga, Spain.</h3>

    <img src="../img/malaga/Terri and Downtown Malaga.jpg" class="blog-img">
    <h3 class="captions"> Malaga, Spain.</h3>



  </div>

</div>
<div class="col-md-1">
</div>
</div>
