<div class="partialContainer">
  <div class="row">

    <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Santa+Cruz+De+Tenerife+Spain">
    </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> SANTA CRUZ DE TENERIFE, CANARY ISLANDS </h1>
  <h3 class="summary"> This was the first place I ever went in Europe, outside of the UK and Ireland. Like most of Spain, it has beautiful flowers and parks everywhere.</h3>

  <div class="blog">
    <p>TENERIFE </p>
    <img src="https://matterri.files.wordpress.com/2016/06/p1000680.jpg" class="blog-img">
    <h3 class="captions"> Santa Cruz de Tenerife.</h3>

    <img src="https://matterri.files.wordpress.com/2016/06/overhang.jpg" class="blog-img">
    <h3 class="captions"> Santa Cruz de Tenerife.</h3>

    <img src="https://matterri.files.wordpress.com/2016/06/graffiti.jpg" class="blog-img">
    <h3 class="captions"> Santa Cruz de Tenerife.</h3>

    <img src="https://matterri.files.wordpress.com/2016/06/excuse-the-penis.jpg" class="blog-img">
    <h3 class="captions"> Santa Cruz de Tenerife.</h3>

    <img src="https://matterri.files.wordpress.com/2016/06/desert-region.jpg" class="blog-img">
    <h3 class="captions"> Santa Cruz de Tenerife.</h3>

    <img src="https://matterri.files.wordpress.com/2016/06/flowers-3.jpg" class="blog-img">
    <h3 class="captions"> Santa Cruz de Tenerife.</h3>

    <center>
      <img src="https://matterri.files.wordpress.com/2016/06/p1000740.jpg" class="blog-img portrait">
      <h3 class="captions"> Santa Cruz de Tenerife.</h3>
    </center>

    <img src="https://matterri.files.wordpress.com/2016/06/village.jpg" class="blog-img">
    <h3 class="captions"> Santa Cruz de Tenerife.</h3>

  </div>

</div>
<div class="col-md-1">
</div>
</div>
