<div class="partialContainer">
  <div class="row">

      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Manarola+Italy">
      </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> CINQUE TERRE </h1>
  <h3 class="summary"> Cinque Terre (CHEEN-kweh TEHR-reh) means “Five Lands” in English. Nestled in a strategic position along the Ligurian coast, the 5 towns of Cinque Terre were constructed in a series of coves in order to hide from pirates. The area, which includes the
    five towns and a national park, was deemed a UNESCO Heritage site in 1997. Most of the income in Cinque Terre comes from tourism, although the area does produce a significant amount of wine. The Cinque Terre DOC, Polenza, and the Sciacchetra, which
    is a sweet mixture of Bosco, Albarola, and Vermintino grapes, are some of the more famous wines from this region. </h3>

    <div class="blog">
      <p>MANAROLA</p>
      <img src="https://matterri.files.wordpress.com/2016/01/img_6752.jpg" class="blog-img">
      <h3 class="captions"> This is my favorite view in Cinque Terre. There is a bar on the left of this restaurant where we spent several hours just taking in the view.</h3>

      <img src="https://matterri.files.wordpress.com/2016/01/img_6781.jpg" class="blog-img">
      <h3 class="captions"> Taken from the boat slips. This is an excellent place to watch the waves crash against the rocks.</h3>

      <img src="https://matterri.files.wordpress.com/2016/01/img_6756.jpg" class="blog-img">
      <h3 class="captions"> The opposite perspective from the previous picture. This was taken high up the hills where you can see all of the grape and olive trees. There are trails everywhere, going between each of the five towns.</h3>

      <img src="https://matterri.files.wordpress.com/2016/01/img_6754.jpg" class="blog-img">
      <h3 class="captions"> This is the view from part of the Sentiero Azzuro (Light Blue Trail) that connects all five towns of Cinque Terre. It is about a 1.5-2 hour hike between each town, except for Manarola and Riomaggiore (around 30 min).</h3>

      <img src="https://matterri.files.wordpress.com/2016/01/img_6797.jpg" class="blog-img">
      <h3 class="captions"> On the whole, the food isn't fantastic in Cinque Terre. But there are a few restaurants around with great fresh seafood.</h3>

      <img src="https://matterri.files.wordpress.com/2016/01/img_1865.jpg" class="blog-img">
      <h3 class="captions"> Manarola in the evening. High up on this hill you have the most amazing view of Manarola. There is a little garden nearby, as well as a bar, and you can see the lights in Corniglia.</h3>


      <p>MONTEROSSO AL MARE</p>
        <img src="https://matterri.files.wordpress.com/2016/01/img_6805.jpg" class="blog-img">
        <h3 class="captions"> Monterosso Al Mare. This is where you find the most extensive beaches, and shopping, in Cinque Terre.</h3>

        <center>
        <img src="https://matterri.files.wordpress.com/2015/04/img_6794.jpg" class="blog-img portrait">
        <h3 class="captions"> All of the towns of Cinque Terre have little shopping strips like this. There are some tourist traps, of course, but there are also some great deals. Don't settle for the first few shops or restaurants with big signs and people trying to coerce
          you in. Ask locals or do some research on tripadvisor.</h3>


        <img src="https://matterri.files.wordpress.com/2015/04/img_6792.jpg" class="blog-img portrait">
        <h3 class="captions"> Taking the 10 minute walk from the train to the shopping area and sand beach in Monterosso Al Mare. There are all sorts of neat little tunnels and trails. A lot of the tunnels frequently have musicians playing accordion or classical guitar.</h3>
      </center>


      <p>VERNAZZA</p>
      <img src="https://matterri.files.wordpress.com/2016/01/img_6795.jpg" class="blog-img">
      <h3 class="captions"> Known mostly as a fishing village, Vernazza has grown in popularity among tourists. There was extreme flooding in 2011 and the town is starting to recover nicely.</h3>

      <img src="https://matterri.files.wordpress.com/2016/01/img_1886.jpg" class="blog-img">
      <h3 class="captions"> Line for the train. While this photo isn't likely to convince you to go to Cinque Terre(hopefully the others will suffice), it is important that you understand the popularity of Cinque Terre, especially in peak travel months(May-August). However,
        if you chose to stay the night(HIGHLY RECOMMENDED), you'll notice the streets are quiet at night. After around 5 or 6 pm, people REALLY start to clear out.</h3>


      <p>RIOMAGGIORE</p>
      <img src="https://matterri.files.wordpress.com/2016/01/img_6801.jpg" class="blog-img">

      <h3 class="captions"> Riomaggiore is the most visited village in Cinque Terre and the closest to La Spezia. Most tourists catch the train to Riomaggiore from La Spezia to begin their Cinque Terre trip. Cars are not allowed into Cinque Terre, so train is really the only
        option.</h3>
    </div>

</div>
<div class="col-md-1">
</div>
</div>
