<div class="partialContainer">
  <div class="row">

    <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Dubrovnik+Croatia">
    </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> DUBROVNIK AND NEARBY ISLANDS</h1>
  <h3 class="summary"> Dubrovnik is a rugged, hilly town that houses about 45,000 people. However small the population of Dubrovnik is, the tourist numbers keep increasing each year, making Dubrovnik more and more into an Adriatic resort town. It's no surprise people keep coming to Dubrovnik, though. With it's abundance of stunning scenery, relaxing beaches, and historic Old City, there is a lot to be seen in Dubrovnik.
    <br> In my experience in Dubrovnik, I found the locals to be overwhelmingly welcoming. Though you may not receive the best service in the highly concentrated tourist spots(which is pretty much true anywhere), head a few blocks outside of the Old City
    and you can find several places to eat, drink, or shop with more-than-reasonable prices and gracious hosts. The whole town of Dubrovnik only takes 15-20 minutes to ride around on a moped, and it is definitely worth discovering. If you have the time,
    I suggest taking a ferry to one of the nearby islands for a more low-key type of experience. There are sandy beaches, hidden waterfalls, trails and other adventures waiting for you on islands like Kolocep, Lokrum and Lopud. </h3>

  <div class="blog">
    <p>DUBROVNIK</p>
    <img src="img/croatia/IMG_2671.JPG" class="blog-img">
    <h3 class="captions"> On the left is the island of Lokrum. On the right is Dubrovnik's Old City. Most of the buildings have bright-orange roofs since the original roofs were destroyed during the 1990s armed conflict.</h3>

    <img src="img/croatia/IMG_2690.JPG" class="blog-img">
    <h3 class="captions"> A view of the Old City from the walls of Dubrovnik.</h3>

    <img src="img/croatia/dubrovnik - old town.jpg" class="blog-img">
    <h3 class="captions"> Another view of Old City but from the south side this time. I took this picture while stopped at an intersection in a moped. If you visit Dubrovnik, make sure to rent a scooter. It will help you get to some amazing views.</h3>

    <img src="img/croatia/IMG_2763.JPG" class="blog-img">
    <h3 class="captions"> High above St. Jakov's beach. There are 200-some-odd stairs leading down to St. Jakov's beach, but it is worth everyone of them. The views are stunning from this pebble beach.</h3>

    <img src="img/croatia/IMG_2752.JPG" class="blog-img">
    <h3 class="captions"> And look at how clear the water is!</h3>

    <img src="img/croatia/dubrovnik - old town stari grad hotel.JPG" class="blog-img">
    <h3 class="captions"> Old City Dubrovnik in late afternoon. There are a lot of tourists traps in this area, because of the high volume of visitors, but it is an amazing place to walk around and take in views.</h3>


    <img src="img/croatia/IMG_2790.JPG" class="blog-img">
    <h3 class="captions"> This is another shot from the Hotel Stari Grad Restaurant in Old City. It is one of the pricier restaurants around but the views are unmatched. Our food was excellent as well.</h3>

    <img src="img/croatia/IMG_7206.JPG" class="blog-img">
    <h3 class="captions"> A shot facing south of the Old City. This was also taken on my scooter ride around Dubrovnik.</h3>

    <img src="img/croatia/IMG_2690.JPG" class="blog-img">
    <h3 class="captions"> Walking down one of the long set of steps that is so characteristic of Dubrovnik.</h3>



    <img src="img/croatia/IMG_7192.JPG" class="blog-img">
    <h3 class="captions"> This was the view out of the front door of our flat that we rented through <a href="https://www.airbnb.com">airbnb</a>. We had brand new furniture, air conditioning and even a moped that we got to borrow for free. All for around $85 a night!</h3>

    <p>DUBROVNIK'S NEARBY ISLANDS</p>
    <img src="img/croatia/IMG_2743.JPG" class="blog-img">
    <h3 class="captions"> This a picture of one of the iconic Dubrovnik sunsets while leaving Lopud, an island near Dubrovnik. There are several ferries between Dubrovnik, Kolocep and Lopud. If you like sandy beaches, Lopud is likely a place you might want to visit.</h3>



    <img src="img/croatia/IMG_2724.JPG" class="blog-img">
    <h3 class="captions"> Kolocep is another one of the beautiful islands near Dubrovnik, and it's on the same ferry route. Crystal clear water, beaches, and a relaxed atmosphere are some of the reasons to visit this little island.</h3>
  </div>

</div>
<div class="col-md-1">
</div>
</div>
