<div class="partialContainer">
  <div class="row">

      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Colorado">
      </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> COLORADO, UNITED STATES </h1>
  <h3 class="summary"> Listed from southernmost to northernmost.</h3>

    <div class="blog">

      <p>GARDEN OF THE GODS - COLORADO SPRINGS </p>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/gardenofthegods1.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Garden of the Gods in Colorado Springs.</h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/gardenofthegods2.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Garden of the Gods in Colorado Springs.</h3>

      <p>BLUE MESA RESERVOIR - OUTSIDE of GUNNISON, CO. </p>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/08/bluemesareservoir.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Garden of the Gods in Colorado Springs.</h3>

      <p>BLACK CANYON - GUNNISON NATIONAL FOREST </p>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/08/blackcanyon.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Black Canyon inside of Gunnison National Forest.</h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/08/blackcanyon2.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Black Canyon inside of Gunnison National Forest.</h3>

      <p>COLORADO NATIONAL MONUMENT - FRUITA, CO. </p>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/08/coloradonationalmonument.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Colorado National Monument in Fruita, outside of Grand Junction.</h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/08/coloradonationalmonument2.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Colorado National Monument in Fruita, outside of Grand Junction.</h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/08/coloradonationalmonument3.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Colorado National Monument in Fruita, outside of Grand Junction.</h3>

      <p>RIFLE FALLS</p>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/08/riflefallsstatepark.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Rifle Falls State Park. </h3>

      <p>GLENWOOD SPRINGS</p>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/glenwood1.jpg" class="blog-img b-lazy">
      <h3 class="captions"> On the way up to the Adventure Park in Glenwood Springs. </h3>

      <!-- <img src="https://matterri.files.wordpress.com/2016/06/glenwood2.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Terri on the "tobogan". </h3> -->

      <!-- <img src="https://matterri.files.wordpress.com/2016/06/glenwood3.jpg" class="blog-img b-lazy">
      <h3 class="captions"> In the caves at Glenwood Springs. </h3> -->

      <p>NEAR DENVER</p>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/redrocks.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Red Rocks in Morrison.</h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/lookout.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Lookout Mountain in Golden. </h3>

      <p>ESTES PARK</p>
      <!-- <img src="https://matterri.files.wordpress.com/2016/06/estespark1.jpg" class="blog-img b-lazy">
      <h3 class="captions"> View of the Rockies from Estes Park.</h3> -->

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/07/stanley.jpg" class="blog-img b-lazy">
      <h3 class="captions"> The Stanley Hotel in Estes Park. </h3>

      <p>FORT COLLINS </p>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/fortcollins1.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Old Town Fort Collins during November.</h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/fortcollins2.jpg" class="blog-img b-lazy">
      <h3 class="captions"> There's always something going on in Old Town Fort Collins.</h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/lory1.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Chuck, 7, in Lory State Park near Fort Collins.</h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/lory2.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Lory State Park near Fort Collins.</h3>

      <p>ROCKY MOUNTAIN NATIONAL PARK</p>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/07/rmnp1.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Rocky Mountain National Park and a Yellow Bellied Marmot. </h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/07/rmnp2.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Rocky Mountain National Park, sunset over Bear Lake. </h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/07/rmnp3.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Rocky Mountain National Park, reflection of Nymph Lake. </h3>

      <p>POUDRE CANYON</p>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/poudrecanyon1.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Poudre Canyon. </h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/poudrecanyon2.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Poudre Canyon. </h3>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/poudrecanyon3.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Poudre Canyon. </h3>

      <p>RED FEATHER LAKES</p>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/redfeatherlakes1.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Red Feather Lakes. </h3>

      <center>
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/redfeatherlakes2.jpg" class="blog-img portrait b-lazy">
      <h3 class="captions"> Red Feather Lakes. </h3>
      </center>

      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="https://matterri.files.wordpress.com/2016/06/redfeatherlakes3.jpg" class="blog-img b-lazy">
      <h3 class="captions"> Red Feather Lakes. </h3>

    </div>

</div>
<div class="col-md-1">
</div>
</div>
