<div class="partialContainer">
  <div class="row">

      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Colorado">
      </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> COLORADO, UNITED STATES </h1>
  <h3 class="summary"> Since the fall of 2015, I have lived in Fort Collins, Colorado. Fort Collins is 100% the coolest place I've ever had the pleasure of living in. As much as I like foreign travel, most of my free time is spent discovering Colorado. There is so much to offer: mountains, rivers, colorful rock formations, trails and parks, breweries, vineyards, etc. I grew up in Texas and was convinced Texas had the most beautiful sunsets, until I moved here (sorry friends and family in Texas). I mean, I'm running low on storage space on my phone just from taking so many sunset pictures.</h3>

    <div class="blog">

      <p>GARDEN OF THE GODS </p>
      <img src="../img/colorado/gardenOfTheGods1.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Garden of the Gods in Colorado Springs, one of the many amazing red rock formations in Colorado.</h3>

      <img src="../img/colorado/gardenOfTheGods2.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Garden of the Gods.</h3>

      <p>BLUE MESA RESERVOIR </p>
      <img src="../img/colorado/blueMesaReservoir.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Blue Mesa Reservoir is the largest body of water in Colorado. There are numerous beaches, with amazing backdrops like this, where you can bake in the sun.</h3>

      <p>BLACK CANYON</p>

      <img src="../img/colorado/blackCanyon2.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Black Canyon inside of Gunnison National Forest. The striped cliff, called "Painted Wall", is the tallest cliff in Colorado.</h3>

      <p>COLORADO NATIONAL MONUMENT </p>

      <img src="../img/colorado/coloradoNationalMonument2.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Colorado National Monument in Fruita, outside of Grand Junction.</h3>


      <p>RIFLE FALLS</p>
      <img src="../img/colorado/rifleFallsStatePark.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Rifle Falls in Rifle Falls State Park. There are also numerous caves in the area worth checking out. </h3>

      <p>GLENWOOD SPRINGS</p>
      <img src="../img/colorado/glenwood1.JPG" class="blog-img b-lazy">
      <h3 class="captions"> On the way up to the Adventure Park in Glenwood Springs. </h3>

      <!-- <img src="https://matterri.files.wordpress.com/2016/06/glenwood2.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Terri on the "tobogan". </h3> -->

      <!-- <img src="https://matterri.files.wordpress.com/2016/06/glenwood3.JPG" class="blog-img b-lazy">
      <h3 class="captions"> In the caves at Glenwood Springs. </h3> -->

      <p>NEAR DENVER</p>
      <img src="../img/colorado/redRocks.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Red Rocks in Morrison. Any concert you see here will be among the best you've ever seen.</h3>

      <img src="../img/colorado/lookout.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Lookout Mountain in May 2016. </h3>

      <p>ESTES PARK</p>
      <img src="../img/colorado/estesPark1.JPG" class="blog-img b-lazy">
      <h3 class="captions"> View of the Rockies from The Stanley Hotel in Estes Park.</h3>

      <img src="../img/colorado/estesPark2.JPG" class="blog-img b-lazy">
      <h3 class="captions"> The Stanley Hotel in Estes Park. The Shining and parts of Dumb and Dumber were filmed here.</h3>

      <p>ROCKY MOUNTAIN NATIONAL PARK</p>
      <img src="../img/colorado/RMNP1.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Rocky Mountain National Park and a Yellow Bellied Marmot. </h3>

      <img src="../img/colorado/RMNP2.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Sunset over Bear Lake in Rocky Mountain National Park. </h3>

      <img src="../img/colorado/RMNP3.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Reflection on Nymph Lake in Rocky Mountain National Park. </h3>

      <p>FORT COLLINS </p>
      <img src="../img/colorado/fortCollins1.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Old Town Fort Collins during November.</h3>

      <img src="../img/colorado/fortCollins2.JPG" class="blog-img b-lazy">
      <h3 class="captions"> There's always something going on in Old Town Fort Collins.</h3>

      <img src="../img/colorado/lory1.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Chuck, 7, in Lory State Park near Fort Collins.</h3>

      <img src="../img/colorado/lory2.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Lory State Park near Fort Collins.</h3>


      <p>POUDRE CANYON</p>
      <img src="../img/colorado/poudreCanyon1.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Poudre Canyon, near Fort Collins. </h3>

      <img src="../img/colorado/poudreCanyon2.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Poudre Canyon, winter 2015. </h3>

      <img src="../img/colorado/poudreCanyon3.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Poudre Canyon, spring 2016. </h3>

      <p>RED FEATHER LAKES</p>
      <img src="../img/colorado/redFeatherLakes1.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Red Feather Lakes, winter 2015. </h3>

      <center>
      <img src="../img/colorado/redFeatherLakes2.JPG" class="blog-img portrait b-lazy">
      <h3 class="captions"> The Great Stupa of Dharmakaya at the Shambala Mountain Center. </h3>
      </center>

      <img src="../img/colorado/redFeatherLakes3.JPG" class="blog-img b-lazy">
      <h3 class="captions"> </h3>

    </div>

</div>
<div class="col-md-1">
</div>
</div>
