<div class="partialContainer">
  <div class="row">

      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Catalonia+Spain">
      </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> SMALL TOWNS IN CATALONIA </h1>
  <h3 class="summary"> Catalonia is a unique region of Spain. Catalonians are a very proud people and identify much more with their region than their country.</h3>

    <div class="blog">
      <p>MONTSERRAT</p>
      <img src="https://matterri.files.wordpress.com/2016/03/p1010017.jpg" class="blog-img">
      <h3 class="captions"> </h3>

      <p>PEDRAFORCA</p>
      <img src="https://matterri.files.wordpress.com/2016/03/p1010005.jpg" class="blog-img">
      <h3 class="captions"> </h3>

      <p>INCREDIBLE VIEWS NEAR CARDONA</p>
      <img src="https://matterri.files.wordpress.com/2016/03/p1000979.jpg" class="blog-img">
      <h3 class="captions"> </h3>

      <p>THE PYRENEES</p>
      <img src="https://matterri.files.wordpress.com/2016/03/p1000966.jpg" class="blog-img">
      <h3 class="captions">  </h3>

      <img src="https://matterri.files.wordpress.com/2016/03/p1000951.jpg" class="blog-img">
      <h3 class="captions"> </h3>

      <p>SALO, SPAIN</p>
      <img src="https://matterri.files.wordpress.com/2016/03/p1000922.jpg" class="blog-img">
      <h3 class="captions"> My girlfriend and I spent almost a month doing helpx in Salo with a wonderful older couple. The town was quite small and there were some amazing views around. </h3>

      <img src="https://matterri.files.wordpress.com/2016/03/img_1612.png" class="blog-img">
      <h3 class="captions"> More views from the house in Salo.</h3>

      <img src="https://matterri.files.wordpress.com/2016/03/img_1564.jpg" class="blog-img">
      <h3 class="captions"> The couple we stayed with in Salo took us out every few days. Here we are pictured walking out of a nearby brewery. We stopped in to buy a beer but they didn't have a store or beer garden or anything. The owner gladly put together a sampler pack for 10 euros.</h3>

      <p>SOLSONNA</p>
      <img src="https://matterri.files.wordpress.com/2016/03/img_1423.jpg" class="blog-img">
      <h3 class="captions"> In this region, there were a surprising amount of small towns with excellent high-quality restaurants. This one was outside of Solsonna and featured some inspired, delicious dishes. </h3>

      <img src="https://matterri.files.wordpress.com/2016/03/img_1461.jpg" class="blog-img">
      <h3 class="captions"> As I mentioned, many Catalonian towns identify much more with their region than their country. Solsonna is no different.</h3>

    </div>

</div>
<div class="col-md-1">
</div>
</div>
