<div class="partialContainer">
  <div class="row">

      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Malaga+Spain">
      </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> MALAGA, SPAIN </h1>
  <h3 class="summary"> I've been to Malaga twice, but only for one full day each time. However, when you only have one day in a place, you seem to do as much as you can. Malaga was no different. Still, there's so much more I would like to see. Each time in Malaga, I went in without an itinerary and stumbled across excellent cafes, cool beachfront restaurants, Roman coloseums, Moorish gardens, amazing museums, and more.</h3>

    <div class="blog">
      <p>PLAZA DE TOROS </p>
      <img src="../img/malaga/P1000819.JPG" class="blog-img b-lazy">
      <h3 class="captions"> On the way up to Castillo de Gibralfaro, there are excellent panoramic views of Malagueta, the beach/port area of Malaga.</h3>

      <img src="../img/malaga/Star Garden.JPG" class="blog-img b-lazy">
      <h3 class="captions"> You can view some of the pretty, unique parks of Malagueta from here.</h3>

      <img src="../img/malaga/Terri and Downtown Malaga.JPG" class="blog-img b-lazy">
      <h3 class="captions"> When you get to the top of Castillo de Gibralfaro, you can see ALL of Malaga.</h3>

      <img src="../img/malaga/Northern Malaga.JPG" class="blog-img b-lazy">
      <h3 class="captions"> You can see for miles. </h3>

      <p>ALCAZABA AREA</p>
      <img src="../img/malaga/Street Behind Alcazaba.JPG" class="blog-img b-lazy">
      <h3 class="captions"> After checking out Castillo de Gibralfaro, you should take the trail back down to Alcazaba. The Alcazaba is a collection of fountains and gardens, with views of some of the nicest parts of Malaga, like this. </h3>

      <img src="../img/malaga/P1000850.JPG" class="blog-img b-lazy">
      <h3 class="captions"> And this. </h3>

      <img src="../img/malaga/Beautiful purple trees.JPG" class="blog-img b-lazy">
      <h3 class="captions"> And yet another. </h3>

      <p>DOWNTOWN PEDESTRIAN MALL</p>
      <img src="../img/malaga/Nice Shopping area.JPG" class="blog-img b-lazy">
      <h3 class="captions"> The downtown pedestrian mall area, to me, is one of the nicest areas in Spain. There are fancy shops, cafes, and museums(Like the Picasso Museum).</h3>

      <img src="../img/malaga/DSC00507.JPG" class="blog-img b-lazy">
      <h3 class="captions"> It is a charming area with carriage rides and flower displays. </h3>

      <p>MALAGUETA</p>
      <img src="../img/malaga/DSC00508.JPG" class="blog-img b-lazy">
      <h3 class="captions"> Malagueta, the port/beach area of Malaga, is another charming area. There are upscale boutiques and colorful restaurants with views of the port and it's many sailboats. </h3>

      <img src="../img/malaga/Street to Beach better.JPG" class="blog-img b-lazy">
      <h3 class="captions"> From the port, there is a little covered trail leading to the beach, where you can find seafood tapas and sangria galore. </h3>

    </div>

</div>
<div class="col-md-1">
</div>
</div>
