<div class="partialContainer">
  <div class="row">

      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Palma+Spain">
      </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> PALMA DE MALLORCA, SPAIN </h1>
  <h3 class="summary"> Palma is a beautiful port city that has been used as a vacation spot for kings and queens throughout Spanish history. The port, the beach, and the gorgeous Serra de Tramuntana mountain range make Palma a city with a lot of different types of entertainment.</h3>

    <div class="blog">
      <p>LA SEU </p>
      <img src="https://matterri.files.wordpress.com/2016/03/img_8538.jpg" class="blog-img">
      <h3 class="captions"> La Seu, which means cathedral, in Palma is one of the premiere attractions. It is a magnificent work of architecture right near the port and the beach in Palma.</h3>

      <img src="https://matterri.files.wordpress.com/2016/03/dsc00871.jpg" class="blog-img">
      <h3 class="captions"> At night, they light it up.</h3>

      <img src="https://matterri.files.wordpress.com/2016/03/img_8545.jpg" class="blog-img">
      <h3 class="captions"> And nearby, there is always some sort of festival. I was quite lucky and the Palma Beer Festival was going on when I was there in July. </h3>

      <p>PARC DE LA MAR</p>
      <img src="https://matterri.files.wordpress.com/2016/03/dsc00850.jpg" class="blog-img">
      <h3 class="captions"> I love walking around the many parks in Spain. There are always beautiful, native flowers and well groomed trails. </h3>

      <p>PALACIO REAL DE LA ALMUDAINA</p>
      <img src="https://matterri.files.wordpress.com/2016/03/dsc00826.jpg" class="blog-img">
      <h3 class="captions"> Right next to the cathedral and the park is an area called Palacio Real de La Almudaina. It has some neat little park areas and is a good spot to walk around. </h3>

      <img src="https://matterri.files.wordpress.com/2016/03/dsc00819.jpg" class="blog-img">
      <h3 class="captions"> </h3>

      <p>PORT DE PALMA</p>
      <img src="https://matterri.files.wordpress.com/2016/03/dsc00852.jpg" class="blog-img">
      <h3 class="captions"> The port of Palma is very impressive. It is packed to the brim with sailboats of all kinds.</h3>

      <img src="https://matterri.files.wordpress.com/2016/03/img_8580.jpg" class="blog-img">
      <h3 class="captions"> And it is quite charming at night. Here is a view with Castell de Bellver in the distance. </h3>

      <p>PORT DE SOLLER</p>
      <img src="https://matterri.files.wordpress.com/2016/03/dsc00909.jpg" class="blog-img">
      <h3 class="captions"> About an hour away from Palma is a little port town called Port De Soller. It is very resort-y and surprisingly nice. Being on the edge of the Serra de Tramuntana mountains, there are some excellent trails around for viewing the port from a higher vantage point, or you could just sunbathe on the beach. </h3>

      <img src="https://matterri.files.wordpress.com/2016/03/dsc00922.jpg" class="blog-img">
      <h3 class="captions"> Along the port, there is a famous cable car that is popular with tourists. </h3>

    </div>

</div>
<div class="col-md-1">
</div>
</div>
