<div class="partialContainer">
  <div class="row" style="background-image: img/valencia/DSC00763.JPG; height: 400px">

  </div>
</div>
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> VALENCIA </h1>
  <h3 class="summary"> Valencia is my favorite city in Spain. It is not nearly crowded as some of the major cities in Spain, like Madrid and Barcelona, and still offers a ton of attractions. There are beaches, a fantastic, long park in a dried up riverbed, a huge entertainment complex with breath-taking architecture, medieval towers, and great farmers markets. Oh, and it's the birthplace of paella.</h3>
</div>
<div class="col-md-1">
</div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-7">

    <div class="blog">
      <p>PLACA DE L'AJUNTAMIENTO</p>
      <img class="blog-img" src="../img/valencia/valencia - outside bus station.jpg" alt="Placa De L-Ajuntamiento">
      <h3 class="captions"> One of the main squares in Valencia. One of my favorite things about Spain is that there are areas like this everywhere, with beautiful flowers and well-maintained, historic buildings.</h3>

      <p>LA MALVAROSA BEACH</p>
      <img src="../img/valencia/IMG_8506.JPG" class="blog-img">
      <h3 class="captions"> Pretty typical Spanish beach. There were a lot of lady bugs around when we went. A couple of the cooler things, in my opinion, about this beach its proximity to the port and the tasty beach restaurants. </h3>

      <p>FARMERS MARKETS IN VALENCIA</p>
      <center>
      <img src="../img/valencia/IMG_8484.JPG" class="blog-img portrait">
      <h3 class="captions"> The Mercado Central is an excellent Spanish market. You can find various fresh fruit, produce, smoothies, cured meats, bread, candies, cheese, and more. The wine and beer are great too. I purchased the best Spanish beer I've ever had from this market. It's called Turia, named after the river turned park that runs through the center of town.</h3>
    </center>

      <p>ARCHITECTURE IN VALENCIA</p>
      <img src="../img/valencia/valencia.jpg" class="blog-img">
      <h3 class="captions"> The best place to visit purely for architecture in Spain is probably Barcelona. However, Valencia had a very cool style about its architecture. Right near ancient Roman towers, there would be classy, well-maintained and colorful buildings. </h3>

      <p>FOOD IN VALENCIA</p>
      <img src="../img/valencia/IMG_8459.JPG" class="blog-img">
      <h3 class="captions"> I didn't know what to expect from the food of Valencia. The only thing you really ever hear about is paella, which i tried a couple of times and it was <i>alright</i>. But, I did have some delicious surprises in some other restaurants. This cod was from a little bar right across the street and it was cheap and excellent. Spanish people make such amazing sauces.</h3>

      <p>SCENERY IN VALENCIA</p>
      <img src="../img/valencia/IMG_8455.JPG" class="blog-img">
      <h3 class="captions"> Everywhere I went in Valencia, I was constantly admiring the scenery. As is typical in Spain, around every corner is a beautiful picture waiting to be taken. </h3>

      <p>TURIA RIVER GARDENS </p>
      <img src="../img/valencia/DSC00638.JPG" class="blog-img">
      <h3 class="captions"> Great place to take a walk or go on a bike ride. After a flood in 1957, Valencia diverted the flood-prone Turia away from the city. They replaced it with a series of gardens, trails, and water features.</h3>

      <p>VALENCIAN ORANGES</p>
      <img src="../img/valencia/IMG_8402.JPG" class="blog-img">
      <h3 class="captions"> I stayed at an airbnb in Valencia once where the host left me oranges from her tree. They were some of the best oranges I've ever had in my life. I made orange juice with them everyday. These oranges grow all over the city, too. You can take a stroll through the Turia River Gardens and pass hundreds of orange trees.</h3>

      <p>ROMAN TOWERS</p>
      <img src="../img/valencia/DSC00795.JPG" class="blog-img">
      <h3 class="captions"> The Torres de Serranos and Torres de Quart mark the edges of the old town when Valencia was under Roman rule. They are an EXCELLENT spot to take in views of the city. Check it out below. </h3>

      <p>VIEW FROM TORRES DE SERRANOS</p>
      <img src="../img/valencia/DSC00763.JPG" class="blog-img">
      <h3 class="captions"> </h3>

      <p>CITY OF ARTS AND SCIENCES</p>
      <img src="../img/valencia/valencia - umbracle.jpg" class="blog-img">
      <h3 class="captions"> Probably the most visited attraction, or set of attractions, in Valencia. Enter the City of Arts and Sciences through the Umbracle(pictured) and make your way to Pont de Montolivet for a view of the stunning Palau de les Arts Reina Sofia(sadly, it was under construction when i went). </h3>

      <img src="../img/valencia/DSC00643.JPG" class="blog-img">
      <h3 class="captions"> Next you'll see the Hemisferic IMAX and the Museo de las Ciencias(pictured, and totally awesome). You could really spend a whole day at both of these buildings. The Museo de las Ciencias, spanning several floors, is an incredible collection of interactive science exhibits. Regardless of age, this is a must-visit if you come to the City of Arts and Sciences.</h3>

      <img src="../img/valencia/DSC00719.JPG" class="blog-img">
      <h3 class="captions"> Next you'll pass the L'Agora which is a sort of exclusive event center and then on to L'Oceanografic(pictured). L'Oceanografic is the largest aquarium in Europe and you'll probably need a whole day, or most of one, to visit it. I would highly recommend it.</h3>
    </div>
    </div>
<div class="col-md-3">
  <div class="spacer">
  </div>
  <div class="spacer">
  </div>
  <div class="spacer">
  </div>
  <ng-map center="[39.4707127,-0.3785823]">
    <marker position="{{}}""></marker>

  </ng-map>
</div>
<div class="col-md-1">
</div>

</div>
