<div class="partialContainer">
  <div class="row">

      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Lisbon+Portugal">
      </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> LISBON REGION, PORTUGAL </h1>
  <h3 class="summary"> When I first got to Lisbon, I wasn't really impressed. It comes off a bit rougher than a lot of European cities. It quickly won me over, though. Lisbon had great food, was cheap, and very close to a lot of cool towns. But, the thing that I remember most fondly was how we met so many generous, friendly people. From Lisbon, I traveled to Cascais for a day(location of Praia do Guincho, or "James Bond Beach") and the amazing Sintra for a day.</h3>

    <div class="blog">
      <p>LISBON </p>
      <img src="img/lisbon/lisbon1.jpg" class="blog-img">
      <h3 class="captions"> Lisbon.</h3>

      <img src="img/lisbon/lisbon2.jpg" class="blog-img">
      <h3 class="captions"> Lisbon.</h3>

      <center>
      <img src="img/lisbon/lisbon3.jpg" class="blog-img portrait">
      <h3 class="captions"> Lisbon.</h3>

      <img src="img/lisbon/lisbon4.jpg" class="blog-img portrait">
      <h3 class="captions"> Lisbon had great food. One thing you have to try is hot pasteis de nata.</h3>
    </center>

      <p>CASCAIS</p>
      <img src="img/lisbon/cascais1.jpg" class="blog-img">
      <h3 class="captions"> Praia do Guincho, in Cascais. This was the beach in the opening scene of the 1969 James Bond film, <i>On Her Majesty's Secret Service</i></h3>

      <img src="img/lisbon/cascais2.jpg" class="blog-img">
      <h3 class="captions"> Praia do Guincho, in Cascais..</h3>

      <img src="img/lisbon/cascais3.jpg" class="blog-img">
      <h3 class="captions"> Praia do Guincho, in Cascais..</h3>

      <img src="img/lisbon/cascais4.jpg" class="blog-img">
      <h3 class="captions"> Praia do Guincho, in Cascais..</h3>

      <p>SINTRA</p>
      <img src="img/lisbon/sintra1.jpg" class="blog-img">
      <h3 class="captions"> Sintra is one of my favorite places of all-time. There is so much to see in such a small, gorgeous town. Pictured is Pena Palace.</h3>

      <img src="img/lisbon/sintra2.JPG" class="blog-img">
      <h3 class="captions"> Pena Palace, Sintra</h3>

      <img src="img/lisbon/sintra3.JPG" class="blog-img">
      <h3 class="captions"> Terri on the walls of Pena Palace, Sintra</h3>

      <img src="img/lisbon/sintra4.JPG" class="blog-img">
      <h3 class="captions"> Pena National Park, Sintra</h3>

      <img src="img/lisbon/sintra5.JPG" class="blog-img">
      <h3 class="captions"> Quinta da Regaleira, Sintra</h3>

      <img src="img/lisbon/sintra6.JPG" class="blog-img">
      <h3 class="captions"> Initiation Well, Quinta da Regaleira, Sintra</h3>

    </div>

</div>
<div class="col-md-1">
</div>
</div>
