<div class="partialContainer">
  <div class="row">

      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Porto+Portugal">
      </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> PORTO, PORTUGAL </h1>
  <h3 class="summary"> Terri and I met a couple of friends from London in Porto for 4 days. We did some port wine tours, took cable cars and funiculars, walked to the coast and had fresh fish, and spent a lot of time down by the Douro river. Porto is a very underrated European destination. If you go here, you HAVE to try the francesinha, it is so delicious and horrible for you.</h3>

    <div class="blog">
      <p>AROUND PORTO </p>
      <img src="../img/porto/porto1.jpg" class="blog-img">
      <h3 class="captions"> Around Porto.</h3>

      <img src="../img/porto/porto2.jpg" class="blog-img">
      <h3 class="captions"> An awesome view from a "miradouro".</h3>

      <img src="../img/porto/porto3.jpg" class="blog-img">
      <h3 class="captions"> Around Porto.</h3>

      <center>
      <img src="../img/porto/porto4.jpg" class="blog-img portrait">
      </center>
      <h3 class="captions"> Livraria Lello. The inspiration for some Harry Potter building, I've heard.</h3>

      <img src="../img/porto/porto5.jpg" class="blog-img">
      <h3 class="captions"> We are in Southern Europe, so here is a beautiful church.</h3>


      <p>DOURO RIVER</p>
      <img src="../img/porto/douro1.jpg" class="blog-img">
      <h3 class="captions"> The Douro River and Gaia.</h3>

      <img src="../img/porto/douro2.jpg" class="blog-img">
      <h3 class="captions"> The Douro River.</h3>

      <img src="../img/porto/douro3.jpg" class="blog-img">
      <h3 class="captions"> The Douro River and Gaia.</h3>

      <p>DOM LUIS BRIDGE on the DOURO</p>
      <img src="../img/porto/domLuis1.jpg" class="blog-img">
      <h3 class="captions"> The Dom Luis Bridge.</h3>

      <img src="../img/porto/domLuis2.jpg" class="blog-img">
      <h3 class="captions"> The Dom Luis Bridge.</h3>
<!-- 
      <img src="../img/porto/funicular.jpg" class="blog-img">
      <h3 class="captions"> The funicular by the bridge.</h3> -->

      <p>FOZ DO DOURO</p>
      <img src="../img/porto/foz.jpg" class="blog-img">
      <h3 class="captions"> The Foz do Douro. Lovely area with great, fresh seafood.</h3>

      <p>FOOD & DRINK</p>
      <img src="../img/porto/portWine.jpg" class="blog-img">
      <h3 class="captions"> Port Wine tasting.</h3>

      <img src="../img/porto/food.jpg" class="blog-img">
      <h3 class="captions"> THE francesinha. Layer of bread, layer of ham, layer of salami, layer of cheese, layer of thin steak, layer of bread, layer of cheese, layer fried egg, layer of bacon, and smothered in beer-tomato sauce!</h3>


    </div>

</div>
<div class="col-md-1">
</div>
</div>
