<div class="partialContainer">
  <div class="row">

      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCd4yYuac4ot0nIp49HE9f_Sxy-tVKrD4I&q=Porto+Portugal">
      </iframe>

  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-10">
  <h1 class="pageTitle"> PORTO, PORTUGAL </h1>
  <h3 class="summary"> Terri and I met a couple of friends from London in Porto for 4 days. We did some port wine tours, took cable cars and funiculars, walked to the coast and had fresh fish, and spent a lot of time down by the Douro river. Porto is a very underrated European destination. If you go here, you HAVE to try the francesinha, it is so delicious and horrible for you.</h3>

    <div class="blog">
      <p>AROUND PORTO </p>
      <img src="../img/porto/porto1.JPG" class="blog-img">
      <h3 class="captions"> Porto has an extremely sloped terrain. It makes short walks seem a bit longer sometimes. Although, the plus side is amazing views when you reach the top of a hill.</h3>

      <img src="../img/porto/porto2.JPG" class="blog-img">
      <h3 class="captions"> The Portuguese term for these fantastic viewpoints are "miradouros."</h3>

      <img src="../img/porto/porto3.JPG" class="blog-img">
      <h3 class="captions"></h3>

      <center>
      <img src="../img/porto/porto4.JPG" class="blog-img portrait">
      </center>
      <h3 class="captions"> Livraria Lello. The inspiration for some Harry Potter building, I've heard.</h3>

      <img src="../img/porto/porto5.JPG" class="blog-img">
      <h3 class="captions"> We are in Southern Europe, so here is a beautiful church.</h3>


      <p>DOURO RIVER</p>
      <img src="../img/porto/douro1.JPG" class="blog-img">
      <h3 class="captions"> The Douro River and Gaia, the side of the river from which this picture was taken.</h3>

      <img src="../img/porto/douro2.JPG" class="blog-img">
      <h3 class="captions"> The Douro is an excellent place to grab a snack and do some people watching.</h3>

      <img src="../img/porto/douro3.JPG" class="blog-img">
      <h3 class="captions"> We stopped at one of the restaurants along the Douro and had a $5 meal including a soup, sandwich, and glass of wine.</h3>

      <p>DOM LUIS BRIDGE on the DOURO</p>
      <img src="../img/porto/domLuis1.JPG" class="blog-img">
      <h3 class="captions"> I took this picture sitting outside of bar with a few friends. They were offering $6 pitchers of sangria. Not bad.</h3>

      <img src="../img/porto/domLuis2.JPG" class="blog-img">
      <h3 class="captions"> The famous Dom Luis Bridge. You can take the upper road or the lower.</h3>
<!--
      <img src="../img/porto/funicular.JPG" class="blog-img">
      <h3 class="captions"> The funicular by the bridge.</h3> -->

      <p>FOZ DO DOURO</p>
      <img src="../img/porto/foz.JPG" class="blog-img">
      <h3 class="captions"> The Foz do Douro. Lovely area with great, fresh seafood.</h3>

      <p>FOOD & DRINK</p>
      <img src="../img/porto/portWine.JPG" class="blog-img">
      <h3 class="captions"> Port Wine tasting. Porto is where port wine comes from, so ya kinda HAVE to do a tasting.</h3>

      <img src="../img/porto/food.JPG" class="blog-img">
      <h3 class="captions"> THE francesinha. Layer of bread, layer of ham, layer of salami, layer of cheese, layer of thin steak, layer of bread, layer of cheese, layer fried egg, layer of bacon, and smothered in beer-tomato sauce!</h3>


    </div>

</div>
<div class="col-md-1">
</div>
</div>
